name: Coverage

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip==22.3.1
          python3 -m pip install -r requirements.txt
          python3 -m pip install pytest pytest-cov
          python3 -m pip install iisignature
          python3 -m pip install cython
          python3 -m pip install git+https://github.com/crispitagorico/sigkernel.git
          python3 -m pip install numpy==1.26.4

      - name: Install package
        run: |
          export ALLOW_EDITABLE=1
          python3 setup.py build_py
          python -m pip install -e .

      - name: Run tests and collect coverage
        run: pytest --cov=pysiglib --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
