name: Unit Tests

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  test:
    name: Test on ${{ matrix.os }} with Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.9", "3.11"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip==22.3.1
          python3 -m pip install -r requirements.txt
          python3 -m pip install pytest
          python3 -m pip install iisignature
          python3 -m pip install cython
          python3 -m pip install git+https://github.com/crispitagorico/sigkernel.git
          python3 -m pip install numpy==1.26.4

      - name: Install package
        run: python -m pip install .

      - name: Run tests
        run: pytest
